/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    line-height: 1.5;
    box-sizing: border-box;
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
    width: 1296px;
    margin: 0 auto;
}
.black{
    background: #000;
}
.h1{
    font-size: 128px;
}
.h2{
    font-size: 64px;
}
.fs-1{
    font-size: 32px;;
}
.fs-2{
    font-size: 24px;
}
.fs-3{
    font-size: 16px;
}
.intro{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding-top: 160px;
    padding-bottom: 160px;
}
.intro-desc{
    width: 526px;
}
.about{
    padding-top: 160px;
    padding-bottom: 160px;
}
.btn{
    padding: 12px 24px;
    border-radius: 32px;
    text-decoration: none; 
}
.btn-light{
    background: #fff;
    color: #000;
}
.btn-dark{
    background: #000;
    color: #fff;
}
.banner-title-strong{
    display: block;
    text-align: right;
}
.text-primary{
    color: #00FFA3;
}
.d-flex{
    display: flex;
}
.align-item-center{
    align-items: center;
}
.flex-column{
    flex-direction: column;
}
.justify-content-end{
    justify-content: end;
}
.justify-content-between{
    justify-content: space-between;
}
.align-item-start{
    align-items: start;
}
.header{
    background-color: black;
    color: #D1D1D1;
    padding: 40px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner{
    background: #000;
    color: #fff;
}
.mr-6{
    margin-right: 24px;
}
.mb-6{
    margin-bottom: 24px;
}
.about-list{
    width: 636px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-desc{
    width: 526px;
}
.about-list li{
    width: 48%;
    border: rgba(227, 227, 227, 1) solid 1px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 16px;
}
.contactme{
    margin-right: 50px;
    color: #fff;
}
.contactmebg{
    background-color: #050014;
    background: linear-gradient(rgba(5, 0, 20, 1), rgba(1, 2, 30, 0.89));
}
.social-link{
    border-radius: 40px;
}
.social-link :hover{
    box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.9);
    transition: 1s;
}
.projecttitle{
    width: 746px;
}
.Project{
    padding-top: 160px;
    padding-bottom: 160px;
}
.footer{
    background-color: #000;
    color: #fff;
    padding: 40px;
    text-align: center;
}
.m20{
    margin-right: 20px;
}
.p96{
    padding-top: 96px;
    padding-bottom: 96px;
}
.projecttitle{
    width: 746px;
    margin-left: auto;
}
.projectimg1{
    margin-right: 24px;
}
.projectimg2{
    margin-bottom: 28px;
}
.projectimg3{
    margin-right: 24px;
}
.mt160{
    margin-top: 160px;
}